.containerLandingPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.headerLandingPage {
  font-size: 5rem;
}

.pozitionsHeader {
  font-size: 2rem;
  text-align: center;
}
