.app {
  text-align: center;
  color: white;
  height: 99vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #1e1e1e;
  margin-bottom: 40px;
}

.header h1 {
  font-family: 'Misto';
}
