.app {
  text-align: center;
  color: white;
}

.mainContent {
  min-height: 98vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #1e1e1e;
  margin-bottom: 40px;
}

.header h1 {
  font-family: 'Misto';
}

.networkDisplay {
  border: 2px solid #b9bfc7;
  border-radius: 48px;
  padding: 4px 16px;
}
